@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');




html {
	scroll-behavior:smooth;
}

::selection {
	background: rgba(173, 124, 107, 0.85);
}


/*----------------NAVIGATION BAR----------------*/

.custom-navbar {
	padding:0; 
	position:sticky;
}

.custom-navbar .container-fluid {
	background-color: rgba(173, 124, 107, 0.85);
}
.custom-navbar .container-fluid button {
	font-family: EB Garamond;
	font-size: 1.2rem;
	margin:10px 5px 10px;
	outline:none;
	border-style:none;
}
.custom-navbar .container-fluid {
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
}


.container-brand {
	margin: 5px;
}
.container-brand a{
	margin-right: 0px;
}

.navbar-brand img {
	width: 56px;
	height: 50px;
	margin-bottom: 8px;
	margin-right: 5px;
}
.navbar-brand {
	font-family: Stalemate; 
	font-size: 3rem;
	color: #FBDED4;
}
.navbar-brand:hover {
	color:#3E0216;
}


.container-menu {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-end;
	margin:10px;
} /*με τα containers 1,2 καταφερα να απομακρυνω το brandname απο το button και το αναπτυγμενο μενου*/

.navbar-toggler{
	background-color:#3E0216;
	color:#FBDED4;
} /*με το display:inline-block; θα σταματησω το button να μεγαλωνει καθυψος οταν μικραινει φουλ το viewport*/
.navbar-toggler:hover{
	color: rgb(173, 124, 107);
	font-weight:bold;
}


.navbar-collapse ul{
	font-family: EB Garamond;
	font-size: 1.5rem;
}

.nav-item .nav-link {
	float:right;	
}
.nav-item .nav-link {
	color:#FBDED4;
}
.nav-item .nav-link.active{
	color:#3E0216;
}
.nav-item .nav-link:hover, .nav-item .nav-link.active:hover{
	color:#3E0216;
}

.dropdown-menu {
	background-color:#D0A698;
	border-color: rgb(173, 124, 107);
}
.dropdown-menu .dropdown-item {
	color: beige ;
}
.dropdown-menu .dropdown-item:hover{
	color:#3E0216;
	background-color:#D0A698;
}
.dropdown-menu li img{
	width: 25px;
	height: 25px;
	margin-top: 7px;
}
.dropdown-menu li a{
	padding-left:10px;
}

/*----------------HOME----------------*/


.container-home {
	background-color:#FBDED4;
}
.container-home img {
	margin-top: 20px;
}
.container-home-text header{
	font-family: Stalemate; 
	color: #3E0216;
	font-size:3.5rem;
	font-weight:550;
	margin-bottom:-13px;
}
.container-home .buffer{
	height: 15px;
}
.container-home-text hr{
	color: #3E0216;
	width: 50%;
	height: 1.5px;
	margin: auto; /*αυτο κεντραρε τη γραμμη*/
}	
.container-home-text h5{
	font-family: EB Garamond; 
	color: #3E0216;
	margin-bottom:0px;
}

.container-home > .buffer{
	height: 60px;
}


/*---------------ABOUT ME------------------*/

.container-aboutme {
	background-color: rgba(162, 139, 164, 0.85);
}

.container-aboutme .container-title .buffer:first-of-type{
	height: 125px;
}

.container-aboutme .container-title p:first-of-type{
	color:#FBDED4;
	font-family: Stalemate;
	font-size:4rem;
	font-weight: 550;
}

.container-aboutme .container-title .row .container hr {
	width: 40%;
	height: 2px;
	margin:auto 20px auto 20px;
	color:#FBDED4;
}

.container-aboutme .container-title img{
	width: 55px;
	height: 49px;
	position:relative;
	bottom:14px;
}

.container-aboutme .container-title .buffer:last-of-type{
	height: 80px;
}

.container-aboutme .container-text {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.container-aboutme .container-text p{
	word-spacing: 5px;
	margin: 0px 30px 0px 30px;
	color:#FBDED4;
	font-family: EB Garamond;
	font-size:1.2rem;
	line-height:50px;
}

.container-aboutme > .buffer{
	height: 150px;
}




/*---------------PRODUCTS------------------*/

.container-products {
	background-color: rgba(208, 166, 152, 0.4);
}

.container-products .container-title .buffer:first-of-type{
	height: 125px;
}

.container-products .container-title p:first-of-type{
	color:#723C29;
	font-family: Stalemate;
	font-size:4rem;
	font-weight: 550;
}

.container-products .container-title .row .container hr {
	width: 40%;
	height: 2px;
	margin:auto 20px auto 20px;
	color:#723C29;
}

.container-products .container-title img{
	width: 55px;
	height: 49px;
	position:relative;
	bottom:14px;
}

.container-products .container-title .buffer:last-of-type{
	height: 100px;
}

.container-gallery img + a {
	height:0px;
	width:0px;
	border-width:0px;
	padding:0px;
}


.container-gallery img + a:focus{
	box-shadow:none;
}


.container-gallery .modal-content {
	background-color: rgba(73, 119, 99, 0.8);
    color:#FBDED4;
 }

 .container-gallery .modal-header {
	border-bottom: 0px;
}

.container-gallery .modal-header img{
	width: 50px;
	height: 43.5px;
	margin-top: 10px;
}

.container-gallery .modal-header p{
	margin-bottom: -20px;
	margin-left: 10px;
	font-family: Stalemate;
	font-size: 3.5rem;
	font-weight: 500;
	height:75px;
}


.container-gallery .modal-header button{
	margin: 20px 30px 0px 0px;
}

.container-gallery .modal-body {
	margin: 0px 50px 0px 50px;
}

.container-gallery .modal-body .carousel-control-next-icon, .carousel-control-prev-icon{
	background-color: rgba(73, 119, 99, 1);
	width: 3rem;
	height: 3rem;
	border-radius: 3px;
}

.container-gallery .modal-footer {
	border-top: 0px;
	padding-top: 0px;
}

.container-gallery .modal-footer p {
	margin: 0px 50px 0px;
	font-family: EB Garamond;
	font-size: 1.5rem;
}

.container-products .container-gallery .buffer {
	height: 180px;
}













/*---------------CONTACT------------------*/

.container-contact {
	background-color: #96B2A6;
}

.container-contact .container-title .buffer:first-of-type{
	height: 125px;
}

.container-contact .container-title p:first-of-type {
	color:#FFECDD;
	font-family: Stalemate;
	font-size:4rem;
	font-weight: 550;
}

.container-contact .container-title .row .container hr {
	width: 10%;
	height: 2px;
	margin:auto 20px auto 20px;
	color:#FFECDD;
}

.container-contact .container-title img{
	width: 55px;
	height: 49px;
	position:relative;
	bottom:14px;
}

.container-contact .container-title p:last-of-type {
	word-spacing: 5px;
	margin: 0px auto 70px auto;
	color:#FFECDD;
	font-family: EB Garamond;
	font-size:1.2rem;
	line-height:40px;
}

.container-contact .container-title .buffer:last-of-type{
	height: 70px;
}

.container-contact .container-form .container {
	color:#FFECDD;
	font-family: EB Garamond;
	font-size:1.6rem;
	margin-top:80px;
	max-width:500px;
}

.container-contact .container-form .container label{
	margin-bottom: 0px;
}	

.container-contact .container-form .container input{
	background-color:#96B2A6;
	border-color: #FFECDD;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	color:#244738;
	padding-left: 2px;
}

.container-contact .container-form .container input:focus{
	box-shadow: 0px 2px 0px rgba(73, 119, 99, 0.6); 
	border-color:transparent;
}

.container-contact .container-form .container textarea{
	background-color: #96B2A6;
	border-color: #FFECDD;
	margin-top: 10px;
	color:#244738;
}

.container-contact .container-form .container textarea:focus{
	box-shadow: 0px 0px 0px 2px rgba(73, 119, 99, 0.6); 
	border-color:transparent;
}

.container-contact .container-form .form-text{
	font-size: 17px;
	color: rgb(73, 119, 99);
}

.container-contact .container-form button {
	background-color: #497763;
	border-color: #497763;
}

.container-contact .container-form button:active{
	box-shadow: 0px 0px 0px 2px #497763;
}

.container-contact .container-form .buffer{
	height: 150px;
}




/*----------------------FOOTER--------------------*/ 


.container-footer{
	background-color: #497763;
	color:#FFECDD;
	font-family: EB Garamond;
}

.container-footer .row  #Location, #Handmade, #SocialMedia{
	margin-top:50px;
	margin-bottom:40px;
}

.container-footer  #SocialMedia p{
	font-size:1.6rem;
}

.container-footer #SocialMedia .bi{
	margin:10px 12px;
	color:#FFECDD;
}

.container-footer #Handmade p:first-of-type{
	font-size:1.6rem;
	margin-bottom:0px;
}

.container-footer #Handmade .bi {
	margin-top:20px;
}

.container-footer #Location p:first-of-type{
	font-size:1.6rem;
}

.container-footer #Location p:last-of-type {
	font-size:1.2rem;
}
